<div id="good-consumption-island-upgrade-dialog" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" data-bind="with: $root.selectedGoodConsumptionUpgradeIslandList">
            <div class="modal-header">
                <h4 data-bind="text: $root.texts.needConsumption.name">Need Consumption</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>

            </div>
            <div class="modal-body">
                <h6 data-bind="text: $root.texts.newspaper.name">Newspaper</h6>

                <form>

                    <div class="form mb-3" data-bind="foreach: $root.newspaperConsumption.allEffects">
                        <span class="custom-control custom-checkbox" data-bind="visible: $data.visible()">
                            <input type="checkbox" class="custom-control-input" data-bind="checked: $data.checked, attr: { id: $data.guid + '-checked' }">
                            <label class="custom-control-label" data-bind="text: $data.name() + ' ' + formatPercentage($data.amount), attr: { for: $data.guid + '-checked' }" src-only style="vertical-align: top;"></label>
                        </span>
                    </div>

                    <div class="form-inline" style="justify-content: space-between;">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" data-bind="text: $root.texts.newspaperEffectiveness.name">Newspaper Effectiveness</span>
                            </div>

                            <select class="custom-select" data-bind="value: $root.newspaperConsumption.selectedBuff, options: $root.newspaperConsumption.selectableBuffs, optionsText: p => formatPercentage(p)"></select>
                        </div>

                        <div class="custom-control">
                            <span data-bind="text: $root.texts.reducedNeeds.name">Reduced Needs</span>
                            <span>: </span>
                            <span data-bind="text: formatPercentage($root.newspaperConsumption.amount())"></span>
                        </div>

                        <button data-dismiss="modal" class="btn btn-light btn-sm" data-bind="visible: !$root.settings.autoApplyConsumptionUpgrades.checked() && $root.islands().length > 1, click: () => $root.newspaperConsumption.apply()">
                            <span data-bind="text: $root.texts.applyGlobally.name">Apply globally</span>
                        </button>
                    </div>
                </form>
                <table class="table">
                    <tbody data-bind="foreach: $data.upgrades">
                        <tr data-bind="visible: $data.visible">
                            <td>

                                <span class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" data-bind="checked: $data.checked, attr: { id: $data.guid + '-checked' }">
                                    <label class="custom-control-label" data-bind="attr: { for: $data.guid + '-checked' }" src-only style="vertical-align: top;"></label>
                                </span>
                            </td>
                            <td><img class="icon-sm" src="../icons/icon_marketplace_2d_light.png" data-bind="attr: { src: $data.icon ? $data.icon : null}"></td> <!-- upgrade icon -->
                            <td data-bind="text: $data.name"></td> <!-- upgrade name -->
                            <td>
                                <span data-bind="foreach: $data.entries" class="inline-list-centered">
                                    <div>
                                        <span data-bind="text: formatPercentage($data.amount)"></span>
                                        <span class="ml-1 mr-2" style="flex-basis: fit-content;" data-bind="if: $data.product">
                                            <img class="icon-sm" src="../icons/icon_marketplace_2d_light.png" data-bind="attr: { src: $data.product.icon ? $data.product.icon  : null, alt: $data.product.name, title: $data.product.name}" style="margin-right: 0.75em; margin-left: -0.25em;" />
                                        </span>
                                    </div>

                                </span>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer" data-bind="visible: !$root.settings.autoApplyConsumptionUpgrades.checked()">
                <button data-dismiss="modal" class="btn btn-light btn-sm" data-bind="click: () => $data.apply()">
                    <span data-bind="text: $root.texts.apply.name">Apply</span>
                </button>
            </div>
        </div>
    </div>
</div>