<li>
    <shadow href="#" class="tree-node">


        <div class="ui-fchain-item-icon mb-2">
            <img class="icon-tile" src="../icons/icon_marketplace_2d_light.png" data-bind="attr: { src: $data.factory.icon ? $data.factory.icon : null, alt: $data.factory.name }">
        </div>
        <div class="ui-fchain-item-count mb-2">
            <div data-bind="if: !$data.residents">
                <span href="#" data-toggle="tooltip" data-bind="attr: {'title' : $root.texts.requiredNumberOfBuildings.name}">
                    <span data-bind="text: $root.settings.decimalsForBuildings.checked() ? formatNumber($data.buildings) : formatNumber(Math.ceil($data.buildings))"></span>
                    <span>x</span>
                </span>
            </div>
            <div data-bind="if: !!$data.residents">i
                <span href="#" data-toggle="tooltip" data-bind="attr: {'title' : $root.texts.residents.name}">
                    <img class="icon-sm icon-light" src="../icons/icon_resource_population.png" />
                    <span data-bind="text: formatNumber($data.residents())"></span>
                </span>
            </div>
        </div>
        <div class="tree-node-item-name">
            <a href="#" data-bind="text: $data.factory.name, visible: !$root.settings.hideNames.checked(), click: () => $root.selectedFactory($data.factory)"></a>
        </div>

    </shadow>
    <div data-bind="if: children.length">
        <ul data-bind="template: { name: 'treeElement', foreach: children }">
        </ul>
    </div>
</li>